.footerContainer {
    padding: 2rem;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerText {
    color: #fff;
    font-size: 1rem;
  }